html {
  font-family: "Asap", sans-serif;
  --grey: #b9b6b6;
  --grey2: #d9d7d7;
  --orange: #f39c12;
  --black-transp: #1818187d;
}
body {
  background: #eee;
}

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  padding-left: 250px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 250px;
  background: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.search {
  padding: 1rem;
  background: #f39c12;
}

.search-input {
  padding: 0.75rem 1rem;
  border: none;
  font-size: 1.2em;
  width: 100%;
  border-radius: 2rem;
}

.title {
  font-size: 2em;
  font-weight: bold;
  border-bottom: 3px solid #f39c12;
  padding-bottom: 1rem;
}

.nav {
  padding: 2rem;
}

.nav-links {
  margin-top: 2rem;
}

.nav-item {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  display: flex;
}
.nav-item-link {
  background-color: var(--grey2);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: background-color 0.3s;
}
.nav-item-link:hover {
  background-color: var(--orange);
}
.active:first-child {
  border-bottom: 2.5px solid var(--orange);
}
.page {
  padding: 5rem 2rem 2rem;
}

.content-focus {
  border-bottom: 3px solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-titles {
  width: 50%;
  margin-right: 2rem;
  border-top: 3px solid orange;
  font-size: 2.3em;
  margin-left: 15%;
  padding-top: 1.5rem;
  padding-left: 10%;
  text-align: right;
}

.content-title {
  max-width: 450px;
  margin-left: auto;
  font-weight: bold;
}
.content-title--sub {
  color: var(--grey);

  padding-top: 1.5rem;
  font-size: 1.8rem;
}
h3.content-title {
  text-align: left;
  margin-left: 0;
}
.content-picture {
  width: 50%;
  position: relative;
}
.picture-desc {
  background-color: var(--black-transp);
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.rounded {
  border-radius: 10px;
  overflow: hidden;
}

.picture {
  width: 100%;
  display: block;
}

.content-quote {
  border-top: 3px solid #ccc;
  margin-top: 2rem;
}

.content p {
  font-size: 1.1em;
  line-height: 1.5;
}

.content h3 {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content ol {
  list-style-type: decimal;
  font-size: 1.1em;
  margin-left: 1.5em;
  line-height: 1.5;
}

.articles {
  margin-top: 5rem;
}

.articles-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 2rem;
  width: 50%;
}
.card:nth-child(odd) {
  padding-right: 2rem;
}
.card:nth-child(even) {
  padding-right: 2rem;
}
.card-title {
  margin: 2rem 1rem;
  font-size: 1.7em;
  font-weight: bold;
}

.card-content {
  padding: 0 1rem;
}

.card-content p {
  font-size: 1.1em;
  line-height: 1.5;
}

.card-footer {
  margin: 2.5rem 1rem 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--orange);
  border: 4px solid var(--orange);
  border-radius: 50px;
  transition: color 0.3s, background-color 0.3s;
}
.btn:hover {
  color: white;
  background-color: var(--orange);
}
.footer {
  background: #111;
  padding: 4rem 2rem;
  text-align: center;
  color: #aaa;
}

/*
    Styles pour les écrans de moins de 1200px de large :
*/
@media screen and (max-width: 1200px) {
  .content-focus {
    display: block;
  }

  .content-titles {
    width: auto;
    text-align: center;
    margin-right: 0;
    margin-bottom: 2rem;
    padding-left: 0;
    margin-left: 0;
  }

  .content-title {
    max-width: none;
  }

  .content-picture {
    width: auto;
  }

  .articles-container {
    display: block;
  }
  .card {
    width: auto;
  }
}

/*
    Styles pour les écrans de moins de 900px de large :
*/
@media screen and (max-width: 900px) {
  .header {
    position: static;
    width: auto;
    float: none;
    margin-left: 0;
  }

  .container {
    width: 96%;
    padding-left: 0;
  }

  .page {
    padding: 0 1rem;
  }

  .nav {
    padding: 1rem;
  }

  .nav .title {
    display: none;
  }

  .nav-links {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    width: calc(33% - 0.5rem);
    text-align: center;
  }

  .nav-item-link {
    margin-bottom: 0;
  }
}
